html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

* {
  box-sizing: inherit;
}

.TableWrapper {
  width: 100%;
  padding: 10px;
}

.TableWrapper table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #CFD8DC;
}

.TableWrapper thead {
  background: #263238;
  text-align: left;
}

.TableWrapper th {
  padding: 10px;
  color: #fff;
  font-weight: 600;
}

.TableWrapper tbody:nth-child(odd) {
  background: #ECEFF1;
}

.TableWrapper tbody:nth-child(even) {
  background: #fff;
}

.TableWrapper tbody tr {
  border-bottom: 1px solid #CFD8DC;
}

.TableWrapper tbody > tr:hover > td {
  background: #FFF59D;
}

.TableWrapper td {
  padding: 10px;
  border-left: 1px solid #CFD8DC;
  vertical-align: middle;
}

.TableWrapper td.Delete,
.TableWrapper td.Expand {
  padding: 0;
  width: 33px;
}

.TableWrapper td.Delete button,
.TableWrapper td.Expand button {
  display: block;
  width: 34px;
  height: 34px;
  padding: 5px;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
  color: #263238;
  cursor: pointer;
  transition: transform .3s ease;
}

.TableWrapper button.expanded {
  transform: rotateZ(90deg);
}

.TableWrapper td.Delete button i,
.TableWrapper td.Expand button i {
  font-size: 18px;
}

.TableWrapper td.Delete button {
  color: #F44336;
}

.TableWrapper td.Expand button[disabled] {
  color: #B0BEC5;
  cursor: not-allowed;
}

.Child > td {
  padding: 0;
  background: #fff !important;
}

.EmptyView {
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #F44336;
  background: #fff;
  border: 2px solid #F44336;
  position: absolute;
  left: 20px;
  top: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.EmptyView :global(.material-icons) {
  display: block;
  font-size: 32px;
  margin: 20px;
}
